

services:
  frontend:
    build:
      context: ./client
      # args:  # optional, agar Dockerfile me ARG VITE_API_URL define kiya ho
      #   VITE_API_URL: http://13.60.44.111:5000
    container_name: frontend
    restart: always
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://13.60.44.111:5000  

  backend:
    build: ./server
    container_name: backend
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    restart: always
