

services:
  frontend:
    build: ./client
    container_name: frontend
    ports:
      - "5173:5173"
    env_file:
      - ./client/.env
    restart: always

  backend:
    build: ./server
    container_name: backend
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    restart: always
